@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 20px 83px;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 50px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.style_nav {
  background-color: #3683f0;
  text-align: center;
  width: 30px;
  height: 32px;
  border-radius: 100%;
}

.navbar-menu_notification {
  position: relative;
}

.notify-red {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 7.06px;
  height: 7.59px;
  background-color: #ff2c55;
  border-radius: 100%;
}

.icon {
  width: 15px;
  padding-top: 7px;
}

.navbar-menu_more {
  width: 10px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.style-more {
  width: 3.03px;
  height: 2.99px;
  background-color: #3683f0;
  border-radius: 100%;
}

/* Details styles */
.details {
  position: fixed;
  bottom: 0px;
  right: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details div {
  width: 70px;
  height: 70px;
  background-color: #0029ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Journey and Notice Board */
.notice {
  height: 394px;
  width: 95px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px,
    rgba(0, 0, 0, 0.16) 0px -3px 6px, rgba(0, 0, 0, 0.23) 0px -3px 6px;
  position: absolute;
  right: 0;
  top: 113px;
}

.notice-sidebar {
  height: 394px;
  width: 50px;
  background-color: black;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  flex-direction: column;
  gap: 40px;
}

.notice-sidebar_text {
  color: white;

  font-size: 16px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.journey {
  height: 742px;
  width: 132px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  top: 90px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.journey-header {
  height: 50px;
  width: 132px;
  background-color: black;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.journey-header_button {
  width: 39px;
  height: 29px;
  margin-right: 7px;
}
.journey-content_number {
  width: 68px;
  height: 68px;
  font-size: 36px;
  color: #0029ff;
  border: solid 1px #0029ff;
  border-radius: 20px;
  margin: auto;
  margin-top: 31px;
}

/* Heading & About Section */
.heading {
  width: 1066px;
  height: 46px;
  /* border: 1px solid brown; */
  text-align: center;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-text {
  color: #0029ff;
  font-size: 28px;
  font-weight: bold;
}

.heading-button {
  background-color: #0029ff;
  border: none;
  width: 121px;
  height: 36px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.about {
  width: 1016px;
  height: 85px;
  /* border: 1px solid violet; */
  margin: auto;
  margin-top: 45px;
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 25px;
}

.about-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-text {
  font-size: 14px;
  font-weight: 300;
}

/* Information Grid */
.infogrid {
  /* border: 1px solid purple; */
  width: 1016px;
  padding: 10px 25px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(2, 480px);
  grid-template-rows: repeat(2, 580px);
  column-gap: 55px;
  row-gap: 55px;
}

.style-grid {
  /* border: 1px solid plum; */
  /* height: 580px; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px, rgba(0, 0, 0, 0.23) 0px 2px 6px,
    rgba(0, 0, 0, 0.16) 0px -2px 6px, rgba(0, 0, 0, 0.23) 0px -2px 6px;
}

.sty-grid_head {
  width: 440px;
  height: 50px;
  background-color: #000000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
}

.grid-head_text {
  color: white;
  font-size: 16px;
}

.grid-head_icon {
  position: absolute;
  right: 30px;
  width: 22px;
  height: 22px;
  color: black;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infogrid-desc {
  width: 434px;
  margin: 16px 23.5px;
}
.infogrid-desc span {
  font-size: 14px;
  font-weight: 300;
}

.infogrid-desc span:nth-child(1) {
  font-weight: 450;
  font-size: 15px;
  letter-spacing: 0.45px;
}

/* Third Grid */
.infogrid_third-content {
  width: 430px;
  height: 399px;
  border-top: 1px solid #d1cece;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.infogrid_third-content h4 {
  font-size: 16px;
  font-weight: 401;
  letter-spacing: 0.45px;
  margin-bottom: 15px;
}

.infogrid_third-content input {
  width: 422px;
  height: 43px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  margin-bottom: 35px;
}

.third_tools {
  width: 390px;
  height: 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 9px;
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.third-tools_topbar {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.topbar_text {
  font-size: 12px;
  color: #616161;
  letter-spacing: 0.65px;
  font-weight: 350;
}

.third-tools_bottombar {
  display: flex;
  justify-content: start;
  width: 88%;
  gap: 17px;
  align-items: center;
}

.third-tools_bottombar span {
  width: 102px;
  height: 18px;
  background-color: #ebebeb;
  color: #616161;
  font-size: 12px;
}
.third_blank {
  width: 422px;
  height: 159px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 9px;
}

.bottombar_more {
  width: 20px;
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.bottombar_more span {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #616161;
}

/* Second Grid */
.second-content_accordian {
  width: 100%;
  height: 40px;
  background-color: #fbfceb;
  border-top: 2px solid #d1cece;
  border-bottom: 1px solid #e1dfdf;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}

.second-content_accordian span {
  font-size: 23px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.second-content_accordian img {
  margin-left: 10px;
}

.second_accordian-features {
  width: 100%;
}

.accordian-features_subThread {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.accordian-features_subThread div {
  width: 199px;
  height: 99px;
  background-color: rgba(0, 0, 0, 3%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 7px;
  border: 0.5px solid #cecccc;
}

.accordian-features_subThread > div > input {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 74px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 7px;
  border-top: 0.5px solid #cecccc;
}

.accordian-features_subThread > div > span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-left: 5px;
}

.accordian-features_process {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 13px;
  margin-top: 1.5rem;
  height: 28px;
  margin-right: 1.8rem;
}

.accordian-features_process img {
  width: 20px;
  height: 20px;
}

.accordian-features_process div {
  width: 91px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 9px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.accordian-features_process > div > span {
  font-size: 10px;
  font-weight: 500;
}

.accordian-features_process > div > img {
  width: 10.19px;
  height: 5.88px;
}

.accordian-features_button {
  display: flex;
  justify-content: start;
  margin-left: 1.8rem;
  margin-top: 2rem;
}

.accordian-features_button button {
  width: 100px;
  height: 36px;
  border-radius: 9px;
  background-color: #0029ff;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: 12px;
}

.accordian-features_summary {
  width: 425px;
  height: 112px;
  margin: auto;
  background-color: rgba(0, 0, 0, 3%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 7px;
  border: 0.5px solid #cecccc;
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
}

.accordian-features_summary input {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  height: 83px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 7px;
  border-top: 0.5px solid #cecccc;
}

.accordian-features_summary span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-left: 13px;
  margin-bottom: 6px;
  margin-top: 4px;
}
